@model IEnumerable<LivrariaApp.Models.Livro>

@{
    ViewData["Title"] = "Livros";
}

<h1>Lista de Livros</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info"><i class="fa fa-plus-circle"></i> Novo</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroIsbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroIsbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Editora)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning" title="Editar" data-toggle="tooltip">
                        <i class="fa fa-user-edit" aria-hidden="true"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info" title="Detalhes" data-toggle="tooltip">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger" title="Excluir" data-toggle="tooltip">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
